// Grid

$container-max-widths: (
  xs: 320px,
  s: 425px,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1118px
);

$grid-breakpoints: (
  xxs: 0,
  xs: 320px,
  s: 425px,
  sm: 584px,
  md: 768px,
  l: 860px, //being taken as 1024px
  lg: 1024px, //unable to override boostrap value! being taken as 1200px
  xl: 1200px,
  xxl: 1500px
);